{% extends "flights/layout.html" %}

{% block body %}

<h1>Welcome to Airline Booking System ✈️</h1>

{% if user.is_authenticated %}

    <h3>Hello {{ user.first_name }}!</h3>

    <a href="{% url 'index' %}">
        Search Flights
    </a>

    <br><br>

    <a href="{% url 'logout' %}">
        Logout
    </a>

{% else %}

    <p>Please login or register to book flights.</p>

    <a href="{% url 'login' %}">
        Login
    </a>

    <br><br>

    <a href="{% url 'register' %}">
        Register
    </a>

{% endif %}

{% endblock %}